<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<header xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" href="/main.css">

    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div class="container">
            <a class="navbar-brand" href="/">EVERY SHOP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a  class=" nav-link active my-hover"  href="/products" style="border-right: 1px solid black;">Products</a>
                    </li>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item m-auto">
                        <a class="nav-link active my-hover" href="/categories" style="border-right: 1px solid black">Categories</a>
                    </li>
                    <li class="nav-item m-auto my-hover">
                        <a class="nav-link active" href="/manufacturers">Manufacturers</a>
                    </li>
                    </th:block>
                </ul>


                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" aria-label="Small"
                               aria-describedby="inputGroup-sizing-sm"
                               placeholder="Search...">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary btn-number">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>



                <ul class="nav navbar-nav navbar-right">
                    <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
                            <i class="fa fa-shopping-cart"></i> Cart
                        </a>
                    </li>
                    <li class="nav-item">
<!--                        <form th:action="@{/logout}">-->
<!--                        <button type="submit" class="btn btn-light btn-sm ml-3">-->
<!--                            <i class="fa fa-shopping-cart"></i> Logout-->
<!--                        </button>-->
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <a href = "javascript: document.logoutForm.submit()" class="btn btn-light btn-sm ml-3">
                                Logout
                            </a>
                        </form>
                    </li>
                    </th:block>
                    <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="btn btn-light btn-sm ml-3" href="/login">
                            <i class="fa fa-shopping-cart"></i> Login
                        </a>
                    </li>
                    </th:block>

                </ul>



            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-toggler-icon"></span>
    </nav>

</header>